.about-photo img {
    width: 200px;
    border-radius: 120px;
    border: 8px solid #D65A31;
}
.about-container {
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 4%;
}

.about-container:hover  img {
    transform: rotate3d(0, 1, 0, 360deg);
    transition: 2s;
}



@media only screen and (max-width: 500px) { 
    .about-container {
        width: 80% ;
        margin-top: 8%;
    }
    .about-photo img {
        width: 100px;
    }
    .bio-tittle {
        font-size:27px;
        margin-bottom: 0px;
    }
}