.about-photo img {
    width: 200px;
    border-radius: 100px;
    border: 4px solid #D65A31;
}
.about-container {
    width: 30%;
    display: block;
    margin: auto;
   margin-top: 7%;
}

.about-container:hover  img {
    transform: rotate3d(0, 1, 0, 360deg);
    transition: 2s;
}