.logo-content img {
    width:70px
}
.logo {
    display: flex;
    float:left;
}
.links {
    display:flex;

    
}
.links li {
    float:left;
    margin-left:9%;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    cursor: pointer;
    color:white;
    display: inline-table;
    

} 
.navbar-container , .navbar{
    display:flex;
    height:70px;
}
.navbar-container {
    margin:auto;
    background-color: #D65A31;
}
.navbar {
    border-bottom: 5px solid #D65A31;
    background-color: #D65A31;
    padding-top: 5px; 
}
.links ul {
    padding-left:0px;
    display: -webkit-box;
}

@media only screen and (max-width: 500px) {

    #menu {
        display: inline-grid ;
    }
    .logo{
        display: none;
    }
    .content{
        margin:0px
    }
    .navbar-container {
        margin-top: 50%;
    }
    .menuicon{
        width: 30px;
        height: 30px;
    }
    .navbar {
        height: 40px;
        width: 100%;
    }
    .nav__toggle {
        top:10px;
    }
    .links li {
        margin: 0;
    }
    #nav {
        background-color: #222831;
    }

  }

  @media only screen and (min-width: 500px) {
    .nav__toggle {display:none}
  
  
  }