body{
  background-color:#222831;
  color:white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content-paragraph{
  display: block;
  width: 350px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  height: 90px;
  text-align: center;
  font-size: 12px;
  color:white;
  
}
.content{
  display: inline-block;
  margin:20px;
  padding-bottom: 20px;
  background: #393E46;
  border-radius: 10px
}

.content-image img {
  width: 400px;
  height: 271px;
}
.paragraph-container{
  padding-left:22px;
}
.read-more {
  color:white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.link-content {
  display: inherit;
  background: #D65A31;
  padding: 5px;
  border-radius: 2px
}

.blog-title {
  color:black;
}